node_modules/
MongoDb/
NodeJs/
package-lock.json
*.bat
!.gitkeep

# Game resources

# Needed folder:
#   items
#   languages
#   libs
Masterserver/gamedata

Masterserver/cache_json

# Needed folder:
#   levels
#   libs
Tools/Cache/modules/missions_pve/gamedata

# Needed xml catalogs files
Tools/Cache/modules/shop/Shop
